# Auto detect text files and perform LF normalization when checkin
* text=auto

# eol=lf when checkout. This will overwrite the first line "text=auto"
* eol=lf

# For .md file specially
*.md text eol=lf

# Remove text attribute for binary files，-text and binary are the same purpose
*.jpg -text
*.jpeg binary
*.svg binary
*.png -text
*.pdf -text

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
