.txtimg{
  position: relative;
  overflow: visible;
  color: #fff;
  border-radius: 5px;
}

.txtimg img{
  width: 100%;
}

.bottom,
.right{
  margin: 1em;
  position: absolute;
}

.bottom{
  bottom: 0px;
}
.right{
  right: 0px
  top: 0px
}
