.txtimg{
  position: relative;
  overflow: auto;
  color: #fff;
  border-radius: 5px;
}

.txtimg img{
  max-width: 100%;
}

.bl, .tl, .br,
.tr{
  margin: 1em;
  position: absolute;
}

.bl{
  bottom: 0px;
  left: 0px;
}
.tl{
  top: 0px;
  left: 0px;
}
.br{
  bottom: 0px;
  right: 0px;
}
.tr{
  top: 0px;
  right: 0px;
}
