/* text alignment */
.container, .page, .pagination,
.post{
  text-align: justify;
}


/* this is a CSS style for text block over images. Refer to http://stackoverflow.com/q/26830227/2336707 and http://stackoverflow.com/a/26825989/2336707 */

.txtimg{
  position: relative;
  overflow: hidden; /* lanyon.css has also this line. */
  border-radius: 5px; /* this line is also included in poole.css */
}


.txtimg img{
  max-width: 100%;
  height: auto;
  margin: 0 0 0.5em 0;
} /* this is also included in poole.css */

.bl, .tl, .br,
.tr{
  color: #fff;
  margin: 0.5em;
  position: absolute;
}

.bl{
  bottom: 0px;
  left: 0px;
}
.tl{
  top: 0px;
  left: 0px;
}
.br{
  bottom: 0px;
  right: 0px;
}
.tr{
  top: 0px;
  right: 0px;
}
